/* for tablet and mobile */
@media all and (min-width: 300px) and (max-width: 700px) {
  body {
    margin-top: 100px;
  }
  header {
    width: 100%;
  }
  nav {
    grid-template-columns: repeat(1, 8% 75%);
    padding: 10px 0px 10px 10px;
  }
  nav > .logo > img {
    width: 100%;
  }
  nav > .menubar {
    grid-area: 2/1/3/4;
    display: block;
    margin: 15px 0;
  }
  nav > .menubar > a {
    margin: 0 5px;
    font-size: 12px;
  }
  nav > .menubar > .bx {
    display: none;
  }
  nav > .searchbar > input {
    display: none;
  }
  nav > .searchbar > .buy_plan {
    padding: 5px 8px;
    font-size: 9px;
    margin-left: 8px;
  }
  main {
    width: 100%;
    margin: auto;
  }
  main > .container {
    width: 100%;
    overflow: hidden;
  }
  main > .container > .swiper {
    width: 100%;
    height: auto;
  }
  main > .container > .swiper > .swiper-wrapper > .swiper-slide > img {
    width: 100%;
    height: fit-content;
    cursor: pointer;
  }
  main > .card_container {
    overflow: hidden;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }
  main > .card_container > .card_heading > h2 {
    font-size: 15px;
  }
  main > .card_container > .card_heading > h4 {
    font-size: 12px;
  }
  footer > .footerbox > .media_connect {
    grid-template-columns: repeat(1, 50% 50%);
  }
  footer > .footerbox > .media_connect > h4 {
    display: none;
  }
  footer > .footerbox > .media_connect > img {
    margin: 10px auto;
    width: 70%;
    cursor: pointer;
  }
  footer > .footerbox > .media_connect > .bx {
    margin-left: 0px;
    width: 45px;
    margin: 10px auto;
  }
  footer > .footerbox > .site_info {
    margin: 20px;
    text-align: center;
    line-height: 40px;
  }
  footer > .footerbox > .show-categories {
    display: grid;
    margin: 50px 0px;
    grid-template-columns: repeat(2, 1fr);
  }
  footer > .footerbox > p {
    color: #7a7977;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
  }

  /* this style tag is only for home.html */
  nav > .searchbar > #user {
    margin-top: 5px;
  }
  nav > .searchbar > #userDetails {
    width: 360px;
    top: 75px;
    border-radius: 0;
    right: 0px;
  }
  #userDetails > button {
    top: -40px;
    right: 264px;
  }
  #dropdown {
    width: 360px;
    top: 60px;
    right: 0px;
  }
}
