:root {
  --main-bg-color: #0f0617;
}
body {
  margin-top: 90px;
  background-color: var(--main-bg-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* header section  */
header {
  background-color: var(--main-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
  z-index: 2;
}
nav {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 8% 34% 50% 8%);
}
nav > .logo {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > .logo > img {
  text-align: center;
  display: block;
  width: 47%;
  cursor: pointer;
}
nav > .menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > .menubar > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  margin: 0px 5px;
  font-size: 14px;
  font-weight: 400;
}
nav > .menubar > a:hover {
  color: white;
}
nav > .menubar > .bx {
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s ease;
}
nav > .menubar > .bx:hover {
  color: #da76ff;
}
nav > .searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > .searchbar > input {
  margin-left: 15%;
  width: 38%;
  color: white;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--main-bg-color);
  border: 1px solid #545057;
}
nav > .searchbar > input:hover {
  border: 1px solid #545057;
}
nav > .searchbar > .login {
  border: 1px solid white;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}
nav > .searchbar > .login:hover {
  background-color: white;
  color: black;
}
nav > .searchbar > .buy_plan {
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  background-color: #8230c6;
  color: white;
  cursor: pointer;
  font-size: 12px;
  transition: 0.5s ease;
  font-weight: 700;
}
nav > .searchbar > .buy_plan:hover {
  background-color: #5e1897;
  color: white;
}
nav > .searchbar > .buy_plan > .bx {
  font-size: 15px;
  margin-right: 8px;
}
nav > .hamburger {
  text-align: center;
  cursor: pointer;
}
nav > .hamburger > .bx {
  border-radius: 50px;
  padding: 2px;
  background-color: #1b1322;
  font-size: 30px;
  color: white;
}
/* main section  */
main > .container {
  background-color: transparent;
  width: 100%;
  height: auto;
}
main > .container > .swiper {
  width: 80%;
  height: fit-content;
}
main > .container > .swiper > .swiper-wrapper > .swiper-slide > img {
  width: 100%;
  height: fit-content;
  cursor: pointer;
}
main > .container > .swiper > .swiper-button-prev,
.swiper > .swiper-button-next {
  color: white;
}
main > .container > .swiper .swiper-pagination-bullet-active {
  background-color: white;
}
main > .card_container {
  display: grid;
  padding: 30px 40px 0px 40px;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
main > .card_container > .card_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: 1/1/2/7;
}
main > .card_container > .card_heading > h2 {
  color: white;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}
main > .card_container > .card_heading > h4 {
  font-size: 14px;
  color: #a486f9;
  font-weight: 550;
  letter-spacing: 1px;
  cursor: pointer;
}
main > .card_container > .cards {
  border-radius: 8px;
}
main > .card_container > .cards > img {
  width: 100%;
  border-radius: 8px;
}
hr {
  margin-top: 40px;
  border: 1px solid rgb(27, 19, 34, 0.8);
}
/* footer section  */

footer > .footerbox {
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
}
footer > .footerbox > .media_connect {
  display: grid;
  grid-template-columns: repeat(8, 11% 12% 12% 45% 5% 5% 5% 5%);
  margin-top: 30px;
  align-items: center;
}
footer > .footerbox > .media_connect > h4 {
  color: #d8d5d2;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-right: 5px;
}
footer > .footerbox > .media_connect > img {
  margin: 0px 10px;
  cursor: pointer;
}
footer > .footerbox > .media_connect > #media_heading {
  text-align: end;
}
footer > .footerbox > .media_connect > .bx {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 8px;
  padding: 13px;
  border-radius: 50%;
  background-color: rgb(32, 24, 39);
  transition: 0.5s ease;
}
footer > .footerbox > .media_connect > #fb:hover {
  background-color: #3c5b97;
}
footer > .footerbox > .media_connect > #insta:hover {
  background-color: #db2878;
}
footer > .footerbox > .media_connect > #twitter:hover {
  background-color: #22a3ef;
}
footer > .footerbox > .media_connect > #youtube:hover {
  background-color: #c22d2a;
}
footer > .footerbox > .site_info {
  margin: 20px;
}
footer > .footerbox > .site_info > a {
  color: #bdb5b0;
  font-size: 12px;
  font-weight: 600;
  padding: 0px 20px;
  border-left: 1px solid #bdb5b0;
  text-decoration: none;
  transition: 0.5s ease;
}
footer > .footerbox > .site_info > #about_page {
  border-left: 0;
  padding-left: 0;
}
footer > .footerbox > .site_info > a:hover {
  color: #7e81ed;
}
footer > .footerbox > .show-categories {
  display: grid;
  margin: 50px 0px;
  grid-template-columns: repeat(5, 1fr);
}
footer > .footerbox > .show-categories > .shows > .show_heading {
  color: #f3f0ed;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline;
  line-height: 30px;
  cursor: pointer;
}
footer > .footerbox > .show-categories > .shows > .show_content {
  font-size: 13px;
  cursor: pointer;
  color: #7a7977;
  margin-left: 2px;
  font-weight: 400;
  line-height: 30px;
  transition: 0.5s ease;
}
footer > .footerbox > .show-categories > .shows > .show_content:hover {
  color: #7e81ed;
}
footer > .footerbox > p {
  color: #7a7977;
  width: 50%;
  font-size: 13px;
  font-weight: 500;
}
